{% set route = app.request.attributes.get('_route') %}

<nav class="nav-extended">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="center">
            <li><i class="material-icons">business</i></li>
            <li><a href="{{ path('home') }}">{{ project_name }}</a></li>
            {% if is_granted('ROLE_USER') %}
                <li class="right">
                    <a href="{{ path('logout') }}" title="{{ 'Logout' | trans }}">
                        <i class="material-icons">input</i>
                    </a>
                </li>
                <li class="right">
                    {{ 'Hi' | trans }}, {{ app.user.username }}
                </li>
            {% else %}
                <li><a href="{{ path('login') }}">{{ 'Login' | trans }}</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-fixed-width">
            {% set size = (12/modules|length)|round(0, 'ceil') %}
            {% for module in modules %}
                <li class="tab col">
                    <a target="_self" class="{{ module.route == route ? 'active' : '' }}" href="{{ path(module.route) }}">
                        {{ module.name | trans }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>