{# @var listings \listingFinder\ListingBundle\Entity\Listing[] #}

<h2>{{ 'Featured Listings' | trans }}</h2>
{% if listings|length > 0 %}
    <div class="card-group">
        {% for listing in listings %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="https://fakeimg.pl/300x300/">
                    <div class="card-body">
                        <span class="card-title activator grey-text text-darken-4">
                            {{ listing.title }}<i class="material-icons right">more_vert</i>
                        </span>
                        <ul>
                            <li>Cidade: {{ listing.city }} / {{ listing.state }}</li>
                            <li>Fone: {{ listing.phone }}</li>
                        </ul>
                    </div>

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="card-footer">
                            <a href="{{ path('edit_item', {id:listing.id, item: 'listing'}) }}"
                               class="btn-floating btn-large halfway-fab waves-effect waves-light blue">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    {% endif %}

                    {#<div class="card-reveal">#}
                    {#<h5 class="card-title grey-text text-darken-4">#}
                    {#{{ listing.title }}<i class="material-icons right">close</i>#}
                    {#</h5>#}
                    {#<hr/>#}
                    {#<div class="row">#}
                    {#<div class="col m4"><strong>Fone</strong></div>#}
                    {#<div class="col m8">{{ listing.phone }}</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                    {#<div class="col m4"><strong>Cidade</strong></div>#}
                    {#<div class="col m8">{{ listing.city }}/{{ listing.state }}</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                    {#<div class="col m4"><strong>Endereço</strong></div>#}
                    {#<div class="col m8">{{ listing.address }}</div>#}
                    {#</div>#}
                    {#<div class="row">#}
                    {#<div class="col m4"><strong>CEP</strong></div>#}
                    {#<div class="col m8">{{ listing.zipCode }}</div>#}
                    {#</div>#}

                    {#<div class="row">#}
                    {#<h5>Categorias</h5>#}
                    {#<ul>#}
                    {#{% for category in listing.categories %}#}
                    {#<li>{{ category.name }}</li>#}
                    {#{% endfor %}#}
                    {#</ul>#}
                    {#</div>#}

                    {#<p class="justify"><strong>Descrição:</strong> {{ listing.description }}</p>#}
                    {#</div>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>{{ 'No featured listings found' | trans }}</p>
{% endif %}
