{% extends 'layout.html.twig' %}

{% block content %}
    {{ render(controller('AppBundle:PublicController/Index:search', [app.request])) }}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red" href="{{ path('app_business_add') }}">
                <i class="large material-icons">add</i>
            </a>
        </div>
    {% endif %}
    <h3>Empresas encontradas: {{ businesses.totalItemCount }}</h3>
    {% for business in businesses %}
        {# @TODO arrumar a listagem em cards #}
        <div>
            <h2>{{ business.title }}</h2>
            <a href="{{ path('app_business_edit', {id:business.id}) }}">Editar</a>
            <form action="{{ path('app_business_remove', {id:business.id}) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('business_remove') }}">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Remover</button>
            </form>
            <ul>
                <li>Cidade: {{ business.city }} / {{ business.state }}</li>
                <li>Fone: {{ business.phone }}</li>
            </ul>
        </div>
    {% endfor %}

    {{ knp_pagination_render(businesses) }}
{% endblock %}
