<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ project_name }}{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {#<script src="{{ asset('bower_components/materialize/dist/js/materialize.min.js') }}"></script>#}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
