{% extends 'base.html.twig' %}

{% block body %}
    {% block navbar %}
        {{ block_render('navigation_with_modules') }}
    {% endblock %}

    <div class="container">
        {% block flash_messages %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="message">
                        <p class="{{ type }}">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}


        {% block tabs %}
            {% set route = app.request.attributes.get('_route') %}
            <div class="row">
                <div class="col s12">
                    <div class="tabs">
                        <div class="tab col s2">
                            <a class="{{ route == 'listings_home' ? 'active' : '' }}" href="#">{{ 'Listings' | trans }}</a>
                        </div>
                        <div class="tab col s2">
                            <a class="{{ route == 'events_home' ? 'active' : '' }}" href="#">{{ 'Events' | trans }}</a>
                        </div>
                        <div class="tab col s2">
                            <a class="{{ route == 'deals_home' ? 'active' : '' }}" href="#">{{ 'Deals' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
